body
{
    margin:0;
    background-color:#faf8f6;
}

.mapa 
{
    margin: 8rem 0 2rem 0;
}

.container-contato 
{
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    margin-left: 10%;
}

.contato-titulo
{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.contato-texto 
{
    display: flex;
    flex-flow: column wrap;
}

.contato-icones
{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

 @media screen and (max-width: 1020px)
{
    .container-contato
    {
        width: auto;
        margin: 0 1rem;
    }

    .contato-titulo
    {
        text-align: center;
    }

    .contato-texto {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        margin:0;
        margin-bottom: 3rem;
        text-align: center;
    }

    .contato-icones
    {
        display: none;
    }
}